@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
<!doctype html>
@* http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ *@
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>@ViewBag.Title</title>
	<meta name="description" content="Modern L-system generator and gallery" />
	<meta name="keywords" content="Lindenmayer,system,L-system,Lsystem,generator,processor,gallery,examples,SVG,WebGL,3D" />
	<meta name="author" content="Marek Fišer" />
	<link rel="author" href="/humans.txt" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

	@* Mobile viewport optimized: h5bp.com/viewport *@
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	@*@Content.Css(Links.Css.style_less_css)*@

	@* All JavaScript at the bottom, except for Modernizr *@
@*	@Content.Js(Links.Js.modernizr_js)*@

</head>

<body class="fullScreen">
	@* Prompt IE 6 users to install Chrome Frame. *@
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div id="main" role="main" class="fullScreen">
		@RenderBody()
	</div>

	@* JavaScript at the bottom for fast page loading
	   Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary *@
@*	@Content.Js("//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
	<script type="text/javascript">window.jQuery || document.write('<script src="@Links.Js.jquery_js"><\/script>')</script>

	@Content.Js(Links.Js.malsys_js)
	@RenderSection("scripts", false)

	@Analytics.GetGoogleAsyncHtml("UA-27861319-1")*@

</body>
</html>
