<!doctype html>
@* paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ *@
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
	<meta name="description" content="L-system processor and gallery">
	<meta name="author" content="Marek Fišer">

	@* Mobile viewport optimized *@
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	@Content.Css(Links.Css.style_css)

	@* All JavaScript at the bottom, except for Modernizr and Respond *@
	@Content.Js(Links.Scripts.modernizr_js)
	@*Content.Js("respond-1.0.1.min.js", Url)*@

	@* More ideas for your <head> here: h5bp.com/docs/#head-Tips *@
</head>

<body>
	<div id="headerContainer">
		<header class="wrapper">
			<div class="titleContainer">
				<a href="/" title="Home"><h1 id="title">Malsys</h1></a>
				<h4 id="subtitle">Mark's L-systems</h4>
			</div>
			<div class="betaContainer">
				<h2>B E T A</h2>
			</div>
			<div class="logonBox">
				@Html.Partial(MVC.Shared.Views.LogOnPartial)
			</div>
			<nav>
				<a href="#main" tabindex="1" class="visuallyhidden focusable">Skip navigation</a>
				@Html.Partial(MVC.Shared.Views.MenuPartial)
			</nav>
		</header>
	</div>

	<div id="main" role="main" class="@ViewBag.MainClass">
		<div class="wrapper">
			@RenderBody()
		</div>
	</div>

	<div id="footerContainer">
		<footer class="wrapper">
			<div class="center"><p>&copy; Marek Fišer 2011</p></div>
		</footer>
	</div>

	@* JavaScript at the bottom for fast page loading *@
	@* Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary *@
	@Content.Js("//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
	<script type="text/javascript">window.jQuery || document.write('@Links.Scripts.jquery_js')</script>
	@Content.Js(Links.Scripts.malsys_js)
	@RenderSection("scripts", false)

	@Analytics.GetGoogleAsyncHtml("UA-27861319-1")

	@* Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
		chromium.org/developers/how-tos/chrome-frame-getting-started *@
	<!--[if lt IE 7 ]>
	@Content.Js("//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
	<script>window.attachEvent('onload', function () { CFInstall.check({ mode: 'overlay' }) })</script>
	<![endif]-->

</body>
</html>
