<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="page">
		<div id="header">
			<div id="title">
				<h1>Malsys</h1>
			</div>
			<div id="logindisplay">
				@Html.Partial("_LogOnPartial")
			</div>
			<div id="menucontainer">
				@Html.Partial("_MenuPartial")
			</div>
		</div>
		<div id="main">
			@RenderBody()
		</div>
		<div id="footer">
		</div>
	</div>

	@Content.Script("jquery-1.7.1.min.js", Url)
	@RenderSection("scripts", false)
</body>
</html>
