<!doctype html>
@* http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ *@
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>@ViewBag.Title</title>
	<meta name="description" content="Modern L-system generator and gallery" />
	<meta name="keywords" content="L-system,generator,gallery,examples,SVG" />
	<meta name="author" content="Marek Fišer" />
	<link rel="author" href="/humans.txt" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

	@* Mobile viewport optimized: h5bp.com/viewport *@
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	@* IE9 Pinned Sites *@
	<meta name="application-name" content="Malsys" />
	<meta name="msapplication-tooltip" content="Modern L-system processor and gallery" />
	<meta name="msapplication-starturl" content="@Url.ActionAbsolute(MVC.Home.Index())"/>
	<meta name="msapplication-task" content="name=Process L-system;action-uri=@Url.ActionAbsolute(MVC.Process.Index());icon-uri=" />
	<meta name="msapplication-task" content="name=Gallery of L-systems;action-uri=@Url.ActionAbsolute(MVC.Gallery.Index());icon-uri=" />
	<meta name="msapplication-task" content="name=Help index;action-uri=@Url.ActionAbsolute(MVC.Help.Home.Index());icon-uri=" />

	@Content.Css(Links.Css.style_less_css)

	@* All JavaScript at the bottom, except for Modernizr *@
	@Content.Js(Links.Js.modernizr_js)


	@* More ideas for your <head> here: h5bp.com/d/head-Tips *@
</head>

<body>
	@* Prompt IE 6 users to install Chrome Frame. *@
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div id="headerContainer">
		<div class="wrapper">
		<header id="header">
			<div class="titleContainer">
				<a href="/" title="Home" tabindex="2"><h1 id="title">Malsys<span class="cz">.cz</span></h1></a>
				<h4 id="subtitle">Mark's L-systems</h4>
			</div>
			<div class="logonBox">
				@Html.Partial(MVC.Shared.Views.LogOnPartial)
			</div>
			<nav class="navigation">
				<a id="skipNavigation" href="#main" tabindex="1" class="visuallyhidden focusable">Skip navigation</a>
				@Html.Partial(MVC.Shared.Views.MenuPartial)
			</nav>
		</header>
		</div>
	</div>

	<div id="mainContainer" class="@ViewBag.MainClass">
		<div class="wrapper">
		<div id="main" role="main">
			@RenderBody()
		</div>
		</div>
	</div>

	<div id="footerContainer">
		<div class="wrapper">
		<footer id="footer">
			<p class="center">
				&copy; @Html.ActionLink("Marek Fišer", MVC.Feedback.EmailToAuthor(), new { title = "E-mail to author", tabindex = 90 }) 2011 &mdash; 2012
				| @Html.ActionLink("Feedback", MVC.Feedback.Index(), new { title = "Send a feedback", tabindex = 91 })
				| thanks @Html.Link("MFF CUNI", "http://www.mff.cuni.cz/", "Faculty of Mathematics and Physics of Charles University in Prague") for hosting
			</p>
			<div class="note clearfix">
				<p class="right">This page was generated at @DateTime.Now.ToUniversalTime() (UTC)</p>
				<p class="left">
					Web version: <abbr title="Compiled with @Malsys.Web.MalsysWebVersion.CompiledWith, linked with @Malsys.Web.MalsysWebVersion.LinkedWith">@Malsys.Web.MalsysWebVersion.LinkedWith</abbr>
					Library version: <abbr title="Compiled with @MalsysVersion.CompiledWith, linked with @MalsysVersion.LinkedWith">@MalsysVersion.LinkedWith</abbr>
				</p>
			</div>
		</footer>
		</div>
	</div>

	@* JavaScript at the bottom for fast page loading
	   Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary *@
	@Content.Js("//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
	<script type="text/javascript">window.jQuery || document.write('<script src="@Links.Js.jquery_js"><\/script>')</script>

	@Content.Js(Links.Js.malsys_js)
	@RenderSection("scripts", false)

	@Analytics.GetGoogleAsyncHtml("UA-27861319-1")

</body>
</html>
