@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model GalleryThumbnailModel

@using Malsys.Processing;
@using Malsys.Web.Models.Lsystem;

@{
	var metadata = OutputMetadataHelper.DeserializeMetadata(Model.SavedInput.OutputMetadata);

	HtmlString linkStrBegin = new HtmlString("<a href=\"" + Url.Action(MVC.Gallery.Detail(Model.SavedInput.UrlId))
		+ "\" title=\"" + Model.SavedInput.PublishName + " \">");
	HtmlString linkStrEnd = new HtmlString("</a>");

	Model.NeedsThreeJs = false;
}

<div class="thn">
@linkStrBegin

@switch (Model.SavedInput.MimeType) {

	case MimeType.Image.SvgXml:
		int width = OutputMetadataHelper.TryGetValue(metadata, OutputMetadataKeyHelper.OutputWidth, -1);
		int height = OutputMetadataHelper.TryGetValue(metadata, OutputMetadataKeyHelper.OutputHeight, -1);
		bool hasValidSize = width > 0 && height > 0;
		if (hasValidSize) {
			MathHelper.ScaleSizeToFit(ref width, ref height, Model.MaxWidth, Model.MaxHeight);
		}
		else {
			height = Model.MaxHeight;
		}
		<img src="@Url.Action(MVC.Gallery.GetThumbnail(Model.SavedInput.UrlId, Model.SavedInput.EditDate.Hash()))" @if (width > 0) { <text>width="@(width)px" </text> } height="@(height)px" alt="@Model.SavedInput.PublishName" />
		break;

	case MimeType.Application.Javascript:
		Model.NeedsThreeJs = true;
		<div class="threeJsScene" data-scene="@Url.Action(MVC.Gallery.GetThumbnail(Model.SavedInput.UrlId, Model.SavedInput.EditDate.Hash()))" data-clear-color="FFFFFF" data-anti-alias="false"></div>
		break;

	default:
		<div style="width: @(Model.MaxWidth / 3)px; height: @(Model.MaxHeight)px;">
			<p>@Model.SavedInput.PublishName</p>
			<p>Thumbnail for this type of output is not supported. Please click to see the output.</p>
		</div>
		break;

}

@linkStrEnd
</div>