@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model GalleryThumbnailModel

@using Malsys.Processing;
@using Malsys.Web.Models.Lsystem;

@{
	var metadata = OutputMetadataHelper.DeserializeMetadata(Model.SavedInput.OutputThnMetadata);

	HtmlString linkStrBegin = new HtmlString("<a href=\"" + Url.Action(MVC.Gallery.Detail(Model.SavedInput.UrlId))
		+ "\" title=\"" + Model.SavedInput.PublishName + " \">");
	HtmlString linkStrEnd = new HtmlString("</a>");

	Model.NeedsThreeJs = false;
}

<div class="thn">
@linkStrBegin

@switch (Model.SavedInput.MimeType) {

	case MimeType.Image.SvgXml:
		int svgWidth = OutputMetadataHelper.TryGetValue(metadata, OutputMetadataKeyHelper.OutputWidth, -1);
		int svgHeight = OutputMetadataHelper.TryGetValue(metadata, OutputMetadataKeyHelper.OutputHeight, -1);
		bool svgHasValidSize = svgWidth > 0 && svgHeight > 0;
		if (svgHasValidSize) {
			MathHelper.ScaleSizeToFit(ref svgWidth, ref svgHeight, Model.MaxWidth, Model.MaxHeight);
		}
		else {
			svgHeight = Model.MaxHeight;
		}
		<img src="@Url.Action(MVC.Gallery.GetThumbnail(Model.SavedInput.UrlId, Model.SavedInput.EditDate.Hash()))" @if (svgWidth > 0) { <text>width="@(svgWidth)px" </text> } height="@(svgHeight)px" alt="@Model.SavedInput.PublishName" />
		break;

	case MimeType.Image.Png:
	case MimeType.Image.Jpeg:
	case MimeType.Image.Gif:
		int bmpWidth = OutputMetadataHelper.TryGetValue(metadata, OutputMetadataKeyHelper.OutputWidth, -1);
		int bmpHeight = OutputMetadataHelper.TryGetValue(metadata, OutputMetadataKeyHelper.OutputHeight, -1);
		bool bmpHasValidSize = bmpWidth > 0 && bmpHeight > 0;
		if (bmpHasValidSize) {
			MathHelper.ScaleSizeToFit(ref bmpWidth, ref bmpHeight, Model.MaxWidth, Model.MaxHeight);
		}
		else {
			bmpHeight = Model.MaxHeight;
		}
		<img src="@Url.Action(MVC.Gallery.GetThumbnail(Model.SavedInput.UrlId, Model.SavedInput.EditDate.Hash()))" @if (bmpWidth > 0) { <text>width="@(bmpWidth)px" </text> } height="@(bmpHeight)px" alt="@Model.SavedInput.PublishName" />
		break;

	case MimeType.Application.Javascript:
		Model.NeedsThreeJs = true;
		<div class="threeJsScene" data-scene="@Url.Action(MVC.Gallery.GetThumbnail(Model.SavedInput.UrlId, Model.SavedInput.EditDate.Hash()))" data-clear-color="FFFFFF" data-anti-alias="false"></div>
		break;

	default:
		<div style="width: @(Model.MaxWidth / 3)px; height: @(Model.MaxHeight)px;">
			<p>@Model.SavedInput.PublishName</p>
			<p>Thumbnail for this type of output is not supported. Please click to see the output.</p>
		</div>
		break;

}

@linkStrEnd
</div>