@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
<!doctype html>
<html>
<head>
	<meta charset="utf-8" />

	<title>@ViewBag.Title – Malsys.cz</title>
	<meta name="description" content="Modern L-system generator and gallery" />
	<meta name="keywords" content="Lindenmayer,system,L-system,Lsystem,generator,processor,gallery,examples,SVG,WebGL,3D" />
	<meta name="author" content="Marek Fišer" />
	<link rel="author" href="/humans.txt" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="sitemap" type="application/xml" title="Sitemap" href="@Url.ActionAbsolute(MVC.Home.Sitemap())" />

	@* Mobile viewport optimized: h5bp.com/viewport *@
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	@*<link rel="stylesheet" type="text/css" href="@Links.Css.normalize_less_css" />*@
	<link rel="stylesheet" type="text/css" href="@Links.Css.style_less_css" />

	@* All JavaScript at the bottom, except for Modernizr and google analytics *@
	@*@Analytics.GetGoogleAsyncHtml("UA-27861319-1")*@

	@* More ideas for your <head> here: h5bp.com/d/head-Tips *@
</head>

<body>
	@* Prompt IE 6 users to install Chrome Frame. *@
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div id="headerContainer">
		<div class="wrapper">
		<header id="header">
			<div class="titleContainer">
				<a href="/" title="Home"><h1 id="title">Malsys<span class="cz">.cz</span></h1></a>
				<h4 id="subtitle">Marek's L-systems</h4>
			</div>
			<div class="logonBox">
				@Html.Partial(MVC.Shared.Views.LogOnPartial)
			</div>
			<nav class="navigation">
				<a id="skipNavigation" href="#main" class="visuallyhidden focusable">Skip navigation</a>
				<div class="nav clearfix">
					<ul>
						<li>@Html.ActionLink("Gallery of L-systems", MVC.Gallery.Index())</li>
						<li>@Html.ActionLink("L-system processor", MVC.Process.Index())</li>
						<li>@Html.ActionLink("Discussion", MVC.Discussion.Category(1))</li>
					</ul>
				</div>
				<div class="subnav clearfix">
					<ul>
						@RenderSection("submenu", false)
					</ul>
				</div>
			</nav>
		</header>
		</div>
	</div>

	<div id="mainContainer" class="@ViewBag.MainClass">
		<div class="wrapper">
		<div id="main" role="main">
			@RenderBody()
		</div>
		</div>
	</div>

	<div id="footerContainer">
		<div class="wrapper">
		<footer id="footer">
			<p class="center">
				&copy; @Html.Link("Marek Fišer", "https://plus.google.com/108426300827063985511", true) 2011 &mdash; 2014
				| @Html.ActionLink("Thesis", MVC.Home.Thesis(), new { title = "Bachelor thesis" })
				| @Html.ActionLink("Feedback", MVC.Feedback.Index(), new { title = "Send a feedback" })
				| thanks @Html.Link("MFF CUNI", "http://www.mff.cuni.cz/", "Faculty of Mathematics and Physics of Charles University in Prague") for hosting
			</p>
			<div class="centerMargin">
				<div class="g-plusone" data-size="medium" data-href="http://malsys.cz/"></div>
			</div>
			<div class="note clearfix">
				<p class="right">This page was generated at @DateTime.Now.ToString("u") (UTC)</p>
				<p class="left">
					Web version: <abbr title="Compiled with @Malsys.Web.MalsysWebVersion.CompiledWith, linked with @Malsys.Web.MalsysWebVersion.LinkedWith">@Malsys.Web.MalsysWebVersion.LinkedWith</abbr>
					| Library version: <abbr title="Compiled with @MalsysVersion.CompiledWith, linked with @MalsysVersion.LinkedWith">@MalsysVersion.LinkedWith</abbr>
					| @Html.ActionLink("loaded plugins", MVC.Home.LoadedPlugins())
				</p>
			</div>
		</footer>
		</div>
	</div>

	@* JavaScript at the bottom for fast page loading
	   Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary *@
	@{
		StaticHtml.RequireScript("//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", 1);
		StaticHtml.RequireScript(Links.Js.malsys_js, 2);
		StaticHtml.RequireScript("https://apis.google.com/js/plusone.js", StaticHtml.LaterOrder); // Google +1 button.
	}

	@if (Request.IsLocal) {
		<div style="position: absolute; top: 8px; left: 8px; font-size: 150%; color: #DDD;">
			localhost
@{
	string build = "release";
#if DEBUG
	build = "debug";
#endif
}
@build
		</div>
	}
</body>
</html>
