@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
<!doctype html>
<html>
<head>
	<meta charset="utf-8" />

	<title>@ViewBag.Title – Malsys.cz</title>
	<meta name="description" content="Modern L-system generator and gallery" />
	<meta name="keywords" content="Lindenmayer,system,L-system,Lsystem,generator,processor,gallery,examples,SVG,WebGL,3D" />
	<meta name="author" content="Marek Fišer" />
	<link rel="author" href="/humans.txt" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	
	<link rel="stylesheet" type="text/css" href="@Links.Css.normalize_less_css" />
	<link rel="stylesheet" type="text/css" href="@Links.Css.unsemantic_less_css" />
	<link rel="stylesheet" type="text/css" href="@Links.Css.style_less_css" />

@{
	#if !DEBUG
		// All JavaScript at the bottom except Google analytics.
		@Analytics.GetGoogleAsyncHtml("UA-27861319-1");
	#endif
}
</head>

<body>
	@* Prompt IE 6 users to install Chrome Frame. *@
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<header role="banner" id="header">
		<div class="grid-container">
			<div class="grid-30 mobile-grid-100">
				<div>
					<a href="/" title="Home" id="title">Malsys<span class="cz">.cz</span></a>
				</div>
				<div>
					<span id="subtitle">Marek's L-systems</span>
				</div>
			</div>
			<div class="grid-70 mobile-grid-100 grid-parent">
				<div id="logonBox">
					@Html.Partial(MVC.Shared.Views.LogOnPartial)
				</div>
				<nav role="navigation" id="navigation" class="grid-100 mobile-grid-100">
					<ul>
						<li>@Html.ActionLink("Gallery of L-systems", MVC.Gallery.Index())</li>
						<li>@Html.ActionLink("L-system processor", MVC.Process.Index())</li>
						<li>@Html.ActionLink("Documentation", MVC.Documentation.Home.Index())</li>
					</ul>
					<div id="subnav" class="grid-100 mobile-grid-100">
						<ul>						
							<li>@Html.ActionLink("Curve designer", MVC.CurveDesigner.Index())</li>
							<li>@Html.ActionLink("Development diary", MVC.DevDiary.Index())</li>
							<li>@Html.ActionLink("Thesis", MVC.Home.Thesis())</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<div id="main">
		<div class="grid-container">
			@RenderBody()
		</div>
	</div>
	
	<footer role="contentinfo" id="footer">
		<div class="grid-container">
			<div class="grid-25 mobile-grid-100">
				<p>Copyright &copy; 2014 Marek Fišer</p>

				<div class="center">
					<div class="g-plusone" data-size="medium" data-href="http://malsys.cz/"></div>
				</div>

				<span class="note">Web version: <abbr title="Compiled with @Malsys.Web.MalsysWebVersion.CompiledWith, linked with @Malsys.Web.MalsysWebVersion.LinkedWith">@Malsys.Web.MalsysWebVersion.LinkedWith</abbr></span>
				<span class="note">Malsys library version: <abbr title="Compiled with @MalsysVersion.CompiledWith, linked with @MalsysVersion.LinkedWith">@MalsysVersion.LinkedWith</abbr></span>
				<span class="note">@Html.ActionLink("Loaded plugins", MVC.Home.LoadedPlugins())</span>
			</div>
			<div class="grid-25 mobile-grid-100">
				<h5 class="floatRight">L-systems</h5>
				<ul>
					<li>@Html.ActionLink("Gallery of L-systems", MVC.Gallery.Index())</li>
					<li>@Html.ActionLink("Gallery entries grouped by tags", MVC.Gallery.Tags())</li>
				</ul>
				<ul>
					<li>@Html.ActionLink("L-system processor", MVC.Process.Index())</li>
					<li>@Html.ActionLink("L-system curve designer", MVC.CurveDesigner.Index())</li>
					<li>@Html.ActionLink("Documentation", MVC.Documentation.Home.Index())</li>
					<li>@Html.ActionLink("General FAQ", MVC.Documentation.Home.Faq())</li>
					<li>@Html.ActionLink("L-systems FAQ", MVC.Documentation.Home.LsystemFaq())</li>
				</ul>
			</div>
			<div class="grid-25 mobile-grid-100">
				<h5 class="floatRight">Other resources</h5>
				<ul>
					<li>@Html.ActionLink("Development diary", MVC.DevDiary.Index())</li>
					<li>@Html.ActionLink("Thesis", MVC.Home.Thesis())</li>
				</ul>
				<ul>
					<li>@Html.ActionLink("Feedback", MVC.Feedback.Index())</li>
					<li>@Html.ActionLink("Log On", MVC.Authentication.LogOn())</li>
				</ul>
			</div>
			<div class="grid-25 mobile-grid-100">				
				<h5 class="floatRight">Other interesting websites</h5>		
				<a href="http://www.marekfiser.com" title="Marek's personal website">
					Marek's personal website
				</a>
			</div>
		</div>
	</footer>

	@{
		StaticHtml.RequireScript("//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", LoadingOrder.Sooner);
		StaticHtml.RequireScript(Links.Js.malsys_js, LoadingOrder.Later);
		StaticHtml.RequireScript("https://apis.google.com/js/plusone.js", LoadingOrder.Later);  // Google +1 button.
	}
	
	@StaticHtml.EmitRequiredScripts()
	@StaticHtml.EmitInlineScripts()

	@if (Request.IsLocal) {
		<div style="position: absolute; top: 8px; left: 8px; font-size: 150%; color: #DDD;">localhost</div>
	}
</body>
</html>
