

<ul>

<li>@Html.ActionLink("L-system processor", MVC.Process.Index())</li>
<li>@Html.ActionLink("Examples", MVC.Examples.Index())</li>
<li>@Html.ActionLink("Help", MVC.Help.Home.Index())</li>
<li>@Html.ActionLink("Feedback", MVC.Feedback.Index())</li>

@if (Request.IsAuthenticated) {

	if (User.IsInRole(UserRoles.Administrator)) {
		<li>@Html.ActionLink("A", MVC.Administration.Home.Index())</li>
	}
}

</ul>