@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@{
	ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<ul>
	<li>@Html.ActionLink("Users", MVC.Administration.Users.Index())</li>
	<li>@Html.ActionLink("Roles", MVC.Administration.Roles.Index())</li>
	<li>@Html.ActionLink("Tags", MVC.Administration.Tags.Index())</li>
	<li>@Html.Link("Elmah - Error Logging Modules and Handlers", "/Elmah.axd")</li>
	<li>@Html.ActionLink("Try throw exception", MVC.Administration.Home.TryThrowException())</li>
	<li>@Html.ActionLink("Try send an e-mail", MVC.Administration.Home.TrySendMail())</li>
</ul>

