@model IEnumerable<Malsys.Web.Entities.User>

@{
	ViewBag.Title = "Users";
}

<h2>Users</h2>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>E-mail</th>
		<th>Registration</th>
		<th>Last login</th>
		<th>Last activity</th>
		<th>Last password change</th>
		<th>actions</th>
	</tr>

	@foreach (var user in Model) {
		<tr>
			<td>@Html.DisplayFor(m => user.UserId)</td>
			<td>@Html.DisplayFor(m => user.Name)</td>
			<td>@Html.DisplayFor(m => user.Email)</td>
			<td>@Html.DisplayFor(m => user.RegistrationDate)</td>
			<td>@Html.DisplayFor(m => user.LastLoginDate)</td>
			<td>@Html.DisplayFor(m => user.LastActivityDate)</td>
			<td>@Html.DisplayFor(m => user.LastPwdChangeDate)</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = user.UserId }) |
				@Html.ActionLink("Details", "Details", new { id = user.UserId })
			</td>
		</tr>
	}

</table>
