@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model GalleryThumbnailModel

@{
	ViewBag.Title = "Malsys";
}

@if (Model != null) {
	<div class="right bg">
	@Html.Partial(MVC.Shared.Views.GalleryThumbnailPartial, Model)
	<h4 class="center">@Model.SavedInput.PublishName</h4>
	</div>
}

<h3>What is Malsys?</h3>
<p>
	Malsys is online L-system generator designed for working and experimenting with L-systems.
	Malsys interface is friendly for new users and also offers advanced features for experienced users.
	Part of the web site is @Html.ActionLink("gallery", MVC.Gallery.Index()) in which any registered user can contribute.
</p>
<p>
	Malsys was created as Bachelor work called L-systems online, details and download of bachelor thesis can be found on
		@Html.ActionLink("this page", MVC.Home.Thesis()).
</p>

<h3>Latest news</h3>
<ul>
	<li>
		Animation renderer was added for creating PNG animations! See gallery for examples.
	</li>
	<li>
		Simple @Html.ActionLink("curve designer", MVC.CurveDesigner.Index()) was added.
		It is created using HTML5 canvas element.
	</li>
</ul>


<h3>What is L-system?</h3>
<p>
	An L-system or Lindenmayer system is a parallel rewriting system, namely a variant of a formal grammar,
		most famously used to model the growth processes of plant development, but also able to model the morphology of a variety of organisms.
	More about L-system theory on @Html.Link("Wikipedia", "http://en.wikipedia.org/wiki/L-system").
</p>


<h3>How can I use Malsys?</h3>
<p>
	Check @Html.ActionLink("help pages", MVC.Help.Home.Index()) or examples in @Html.ActionLink("gallery", MVC.Gallery.Index()).
	Or you can try to create an L-system curve with @Html.ActionLink("curve designer", MVC.CurveDesigner.Index()).
</p>

<h3>Gallery</h3>
<p>
	Gallery contains examples of many L-systems.
	The most of them are 2D vector images (@Html.Link("SVG", "http://en.wikipedia.org/wiki/Scalable_Vector_Graphics", "Scalable Vector Graphics - Wikipedia")
		which can be displayed with most of browsers.
	However there are some amazing 3D L-systems which needs @Html.Link("WebGL", "http://en.wikipedia.org/wiki/WebGL", "WebGL - Wikipedia")
		for proper display (see @Html.ActionLink("the comparison", MVC.Home.WhyWebgl())).
	3D L-systems are rendered by your browser and you can rotate, zoom or pan them.
	You can check whether your browser support WebGL at @Html.Link("http://get.webgl.org/").
</p>

@*
<h3>Features</h3>

<ul>
	<li>Readable L-system syntax</li>
	<li>Lot of predefined @Html.ActionLink("functions", MVC.Help.Predefined.Functions()) and @Html.ActionLink("operators", MVC.Help.Predefined.Operators())</li>
	<li>Custom @Html.ActionLink("constants", MVC.Help.SyntaxReference.ConstantDefinition()) and @Html.ActionLink("functions", MVC.Help.SyntaxReference.FunctionDefinition()) definitions</li>
	<li>Public gallery, saving of L-systems for registered users (with permalink)</li>
	<li>Rendering
		<ul>
			<li>SVG</li>
			<li>Text (print L-system symbols)</li>
			<li>ASCII art (only on hexagonal grid)</li>
		</ul>
	</li>
	<li>L-system capabilities
		<ul>
			<li>Branching</li>
			<li>Context sensitive rewrite rules</li>
			<li>Conditional rewrite rules</li>
			<li>Stochastic (randomized) rewriting</li>
			<li>Custom interpretation methods</li>
		</ul>
	</li>
</ul>
*@


@if (Model != null && Model.NeedsThreeJs) {
	<text>
	@section scripts {
		@Content.Js(Links.Js.ThreeJs.Three_js)
		@Content.Js(Links.Js.ThreeJs.Detector_js)
		@Content.Js(Links.Js.ThreeJs.Stats_js)
		@Content.Js(Links.Js.ThreeJs.malsys_three_js)
	}
	</text>
}
