@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model Tuple<GalleryThumbnailModel, IEnumerable<DiscusThread>>

@{
	ViewBag.Title = "Malsys";
}

@section submenu {
	<li>@Html.ActionLink("Curve designer", MVC.CurveDesigner.Index())</li>
	<li>@Html.ActionLink("Development diary", MVC.DevDiary.Index())</li>
	<li>@Html.ActionLink("Thesis", MVC.Home.Thesis())</li>
	<li>@Html.ActionLink("Documentation", MVC.Documentation.Home.Index())</li>
}

<h3>What is Malsys?</h3>
<p>
	Malsys is online L-system generator designed for working and experimenting with L-systems.
	Malsys interface is friendly for new users and also offers advanced features for experienced users.
	Part of the web site is @Html.ActionLink("gallery", MVC.Gallery.Index()) in which any registered user can contribute.
</p>
<p>
	Malsys was created as Bachelor work called L-systems online, details and download of bachelor thesis can be found on
		@Html.ActionLink("this page", MVC.Home.Thesis()).
</p>

<h3>What can be achieved with Malsys</h3>
<div class="center">
	<iframe width="640" height="360" src="http://www.youtube.com/embed/NUyar1wrcaQ?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<h3>How to use Malsys?</h3>
<p>
	Check @Html.ActionLink("Documentation", MVC.Documentation.Home.Index()) or examples in @Html.ActionLink("gallery", MVC.Gallery.Index()).
	Or you can try to create an L-system curve with @Html.ActionLink("curve designer", MVC.CurveDesigner.Index()).
</p>

<h3>Gallery</h3>
<p>
	Gallery contains examples of many L-systems.
	The most of them are 2D vector images (in @Html.Link("SVG", "http://en.wikipedia.org/wiki/Scalable_Vector_Graphics", "Scalable Vector Graphics - Wikipedia"))
		which can be displayed with most of browsers.
	However there are some amazing 3D L-systems which needs @Html.Link("WebGL", "http://en.wikipedia.org/wiki/WebGL", "WebGL - Wikipedia")
		for proper display (see @Html.ActionLink("the comparison", MVC.Home.WhyWebgl())).
	3D L-systems are rendered by your browser and you can rotate, zoom or pan them.
	You can check whether your browser support WebGL at @Html.Link("http://get.webgl.org/").
</p>

<h3>Latest news</h3>
@{ int? newsCatId = null; }
@foreach (var thread in Model.Item2) {
	newsCatId = thread.CategoryId;
	var commentsNum = thread.DiscusMessages.Count() - 1;
	var firstMessage = thread.DiscusMessages.OrderBy(m => m.CreationDate).First();
	var firstMsgText = firstMessage.Text;
	int endOfFirstPar = firstMsgText.IndexOf("\n\n");
	bool readMore = true;
	if (endOfFirstPar < 0) {
		endOfFirstPar = firstMsgText.Length;
		readMore = false;
	}
	var firstParagraph = firstMsgText.Substring(0, endOfFirstPar);

	<div class="right">@thread.CreationDate.ToString("dddd, dd. MMMM yyyy")</div>
	<h4>@thread.Title</h4>
	<p class="keepNl">@firstParagraph @if (readMore) { <span>@Html.ActionLink("... read more", MVC.Discussion.Thread(thread.ThreadId))</span> }</p>
	<div>@Html.ActionLink(commentsNum + " comments", MVC.Discussion.Thread(thread.ThreadId))</div>

	<hr />
}

@if (newsCatId != null) {
	@Html.ActionLink("News archive", MVC.Discussion.Category(newsCatId))
}

@*
<ul>
	<li>
		Added simple submenu for specialized actions on some pages.
	</li>
	<li>
		Animation renderer was added for creating PNG animations! See gallery for examples.
	</li>
	<li>
		Simple @Html.ActionLink("curve designer", MVC.CurveDesigner.Index()) was added.
		It is created using HTML5 canvas element.
	</li>
</ul>
*@


@*
<h3>Features</h3>

<ul>
	<li>Readable L-system syntax</li>
	<li>Lot of predefined @Html.ActionLink("functions", MVC.Documentation.Predefined.Functions()) and @Html.ActionLink("operators", MVC.Documentation.Predefined.Operators())</li>
	<li>Custom @Html.ActionLink("constants", MVC.Documentation.SyntaxReference.ConstantDefinition()) and @Html.ActionLink("functions", MVC.Documentation.SyntaxReference.FunctionDefinition()) definitions</li>
	<li>Public gallery, saving of L-systems for registered users (with permalink)</li>
	<li>Rendering
		<ul>
			<li>SVG</li>
			<li>Text (print L-system symbols)</li>
			<li>ASCII art (only on hexagonal grid)</li>
		</ul>
	</li>
	<li>L-system capabilities
		<ul>
			<li>Branching</li>
			<li>Context sensitive rewrite rules</li>
			<li>Conditional rewrite rules</li>
			<li>Stochastic (randomized) rewriting</li>
			<li>Custom interpretation methods</li>
		</ul>
	</li>
</ul>
*@


@if (Model.Item1 != null && Model.Item1.NeedsThreeJs) {
	StaticHtml.RequireScript(Links.Js.ThreeJs.Three_js);
	StaticHtml.RequireScript(Links.Js.ThreeJs.Detector_js);
	StaticHtml.RequireScript(Links.Js.ThreeJs.Stats_js);
	StaticHtml.RequireScript(Links.Js.ThreeJs.malsys_three_js);
}
