@{
	ViewBag.Title = "Malsys";
}

<h3>What is Malsys?</h3>
<p>
	Malsys is online L-system processing environment designed for working and experimenting L-systems.
	Malsys interface is friendly to new users and also offers advanced features for experienced users.
	Part of web site is @Html.ActionLink("gallery", MVC.Gallery.Index()) in which any registered user can contribute.
</p>


<h3>What is L-system?</h3>
<p>
	An L-system or Lindenmayer system is a parallel rewriting system, namely a variant of a formal grammar,
		most famously used to model the growth processes of plant development, but also able to model the morphology of a variety of organisms.
	More about L-system theory on @Html.Link("Wikipedia", "http://en.wikipedia.org/wiki/L-system").
</p>


<h3>How can I use Malsys?</h3>
<p>
	You can check @Html.ActionLink("help pages", MVC.Help.Home.Index()) or examples in @Html.ActionLink("gallery", MVC.Gallery.Index()).
</p>


<h3>Features</h3>

<ul>
	<li>Readable L-system syntax</li>
	<li>Lot of predefined @Html.ActionLink("functions", MVC.Help.Predefined.Functions()) and @Html.ActionLink("operators", MVC.Help.Predefined.Operators())</li>
	<li>Custom @Html.ActionLink("constants", MVC.Help.SyntaxReference.ConstantDefinition()) and @Html.ActionLink("functions", MVC.Help.SyntaxReference.FunctionDefinition()) definitions</li>
	<li>Public gallery, saving of L-systems for registered users (with permalink)</li>
	<li>Rendering
		<ul>
			<li>SVG</li>
			<li>Text (print L-system symbols)</li>
			<li>ASCII art (only on hexagonal grid)</li>
		</ul>
	</li>
	<li>L-system capabilities
		<ul>
			<li>Branching</li>
			<li>Context sensitive rewrite rules</li>
			<li>Conditional rewrite rules</li>
			<li>Stochastic (randomized) rewriting</li>
			<li>Custom interpretation methods</li>
		</ul>
	</li>
</ul>