@{
	ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<ul>
	<li>@Html.ActionLink("Action log", MVC.Administration.Stats.Logs())</li>
	<li>@Html.ActionLink("Input list", MVC.Administration.Stats.Input())</li>
	<li>@Html.ActionLink("Input statistics", MVC.Administration.Stats.Statistics())</li>
	<li>@Html.ActionLink("Saved inputs", MVC.Administration.Stats.SavedInputs())</li>
	<li>@Html.ActionLink("Export published inputs", MVC.Administration.Stats.ExportInputs(true, false))</li>
	<li>@Html.ActionLink("Export all saved inputs", MVC.Administration.Stats.ExportInputs())</li>
</ul>