@model HelpIndexViewModel
@{
	ViewBag.Title = "Malsys docummentation";
}

<h1>Malsys docummentation</h1>

<div class="grid-100 mobile-grid-100 grid-parent hideLinks">
	<div class="grid-100 mobile-grid-100 ">
		<p>
			Malsys is quite complicated system but it offeres a lot of pre-defined stuff that makes it easy to use even for beginners.
			If you did not find your andwer here, try @Html.ActionLink("FAQ", MVC.Documentation.Home.Faq())
				or even @StaticHtml.ExternalLink("StackOverflow", "http://stackoverflow.com/") (don't forget to use tags L-system and Malsys :).
		</p>
	</div>
</div>


<div class="grid-100 mobile-grid-100 grid-parent hideLinks">
	<div class="grid-50 mobile-grid-100 ">
		<h2>Introduction and basic principles</h2>

		<ol>
			@*<li>@Html.ActionLink("Basic principles of symbol rewriting system of L-systems", MVC.Documentation.Home.BasicRewriting())</li>
			<li>@Html.ActionLink("Basic interpretation of L-system symbols", MVC.Documentation.Home.BasicInterpretation())</li>*@
			@foreach (var sec in Model.BasicsArticleModel.SectionsManager.RootSection.Subsections) {
				<li>@sec.BareRef</li>
			}
		</ol>

		@*<h2>Advanced techniques</h2>

		<ol>
			<li>@Html.ActionLink("Process configurations", MVC.Documentation.Home.ProcessConfigurations())</li>
		</ol>*@

		<h2>Predefined stuff</h2>

		<ol>
			<li>@Html.ActionLink("Malsys standard library", MVC.Documentation.Home.StdLib())</li>
			<li>@Html.ActionLink("Available components list", MVC.Documentation.Predefined.Components())</li>
			<li>@Html.ActionLink("Predefined process configurations", MVC.Documentation.Predefined.Configurations())</li>
			<li>@Html.ActionLink("Predefined constants", MVC.Documentation.Predefined.Constants())</li>
			<li>@Html.ActionLink("Predefined functions", MVC.Documentation.Predefined.Functions())</li>
			<li>@Html.ActionLink("Predefined operators", MVC.Documentation.Predefined.Operators())</li>
		</ol>

	</div>
	<div class="grid-50 mobile-grid-100">
		<h2>Syntax reference</h2>

		<ol>
			<li>@Html.ActionLink("L-system definition", MVC.Documentation.SyntaxReference.LsystemDefinition())</li>
			<li>@Html.ActionLink("Component property assign definition", MVC.Documentation.SyntaxReference.ComponentPropertyAssignDefinition())</li>
			<li>@Html.ActionLink("Constant definition", MVC.Documentation.SyntaxReference.ConstantDefinition())</li>
			<li>@Html.ActionLink("Function definition", MVC.Documentation.SyntaxReference.FunctionDefinition())</li>
			<li>@Html.ActionLink("Rewrite rule definition", MVC.Documentation.SyntaxReference.RewriteRule())</li>
			<li>@Html.ActionLink("Symbol interpretation definition", MVC.Documentation.SyntaxReference.SymbolInterpretation())</li>
			<li>@Html.ActionLink("Component configuration definition", MVC.Documentation.SyntaxReference.ComponentConfigurationDefinition())</li>
			<li>@Html.ActionLink("Process statements", MVC.Documentation.SyntaxReference.ProcessStatements())</li>
			<li>@Html.ActionLink("Arithmetic expressions", MVC.Documentation.SyntaxReference.ArithmeticExpressions())</li>
		</ol>

		<ol>
			<li>@Html.ActionLink("Tokens definition", MVC.Documentation.SyntaxReference.Tokens())</li>
		</ol>
	</div>
</div>