@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@

@{
	ViewBag.Title = "Malsys docummentation";
}

<h1>Malsys docummentation</h1>

<div class="grid-100 mobile-grid-100 grid-parent hideLinks">
	<div class="grid-100 mobile-grid-100 ">
		<p>
			Malsys is quite complicated systems but it offeres a lot of pre-defined stuff that makes it easy to use even for beginners.	
			The best way how to start using Malsys is to read .....

				and look at some examples in @Html.ActionLink("the gallery", MVC.Gallery.Index()).
		</p>

		<p>
			If you have any questions try look at @Html.ActionLink("general FAQ page", MVC.Documentation.Home.Faq()).
			There is also @Html.ActionLink("specialized FAQ for L-systems", MVC.Documentation.Home.LsystemFaq()).
		</p>
	</div>
</div>


<div class="grid-100 mobile-grid-100 grid-parent hideLinks">
	<div class="grid-50 mobile-grid-100 ">
		<h2>Tutorials and explanations of the system</h2>

		<ol>
			<li>@Html.ActionLink("Basic principles of symbol rewriting system of L-systems", MVC.Documentation.Home.BasicRewriting())</li>
			<li>@Html.ActionLink("L-system symbols with arguments", MVC.Documentation.Home.LsystemSymbols())</li>
			<li>@Html.ActionLink("Interpret symbols to get image", MVC.Documentation.Home.BasicInterpretation())</li>
			<li>@Html.ActionLink("Process configurations", MVC.Documentation.Home.ProcessConfigurations())</li>
		</ol>


		<h2>Predefined stuff</h2>

		<ol>
			<li>@Html.ActionLink("Malsys standard library", MVC.Documentation.Home.StdLib())</li>
			<li>@Html.ActionLink("Available components list", MVC.Documentation.Predefined.Components())</li>
			<li>@Html.ActionLink("Predefined process configurations", MVC.Documentation.Predefined.Configurations())</li>
			<li>@Html.ActionLink("Predefined constants", MVC.Documentation.Predefined.Constants())</li>
			<li>@Html.ActionLink("Predefined functions", MVC.Documentation.Predefined.Functions())</li>
			<li>@Html.ActionLink("Predefined operators", MVC.Documentation.Predefined.Operators())</li>
		</ol>

	</div>
	<div class="grid-50 mobile-grid-100">
		<h2>Syntax reference</h2>

		<ol>
			<li>@Html.ActionLink("L-system definition", MVC.Documentation.SyntaxReference.LsystemDefinition())</li>
			<li>@Html.ActionLink("Component property assign definition", MVC.Documentation.SyntaxReference.ComponentPropertyAssignDefinition())</li>
			<li>@Html.ActionLink("Constant definition", MVC.Documentation.SyntaxReference.ConstantDefinition())</li>
			<li>@Html.ActionLink("Function definition", MVC.Documentation.SyntaxReference.FunctionDefinition())</li>
			<li>@Html.ActionLink("Rewrite rule definition", MVC.Documentation.SyntaxReference.RewriteRule())</li>
			<li>@Html.ActionLink("Symbol interpretation definition", MVC.Documentation.SyntaxReference.SymbolInterpretation())</li>
			<li>@Html.ActionLink("Component configuration definition", MVC.Documentation.SyntaxReference.ComponentConfigurationDefinition())</li>
			<li>@Html.ActionLink("Process statements", MVC.Documentation.SyntaxReference.ProcessStatements())</li>
			<li>@Html.ActionLink("Arithmetic expressions", MVC.Documentation.SyntaxReference.ArithmeticExpressions())</li>
		</ol>

		<ol>
			<li>@Html.ActionLink("Tokens definition", MVC.Documentation.SyntaxReference.Tokens())</li>
			<li>@Html.ActionLink("Grammar syntax reference", MVC.Documentation.SyntaxReference.Grammar())</li>
			<li>@Html.ActionLink("Regular expressions reference", MVC.Documentation.SyntaxReference.GrammarRegexps())</li>
		</ol>
	</div>
</div>