@model Malsys.Processing.Output.OutputFile

@using Malsys
@using Malsys.Processing

@{
	var fi = new FileInfo(Model.FilePath);
	if (!fi.Exists) {
		return;
	}
}


<p>
	<b>@Model.Name</b> (by <abbr title="@Model.SourceType.FullName">@Model.SourceType.Name</abbr>)
	@Html.ActionLink(string.Format("download [{0}]", Malsys.DataSizeHelper.ToOptimalUnitString(fi.Length)),
		MVC.ProcessOutput.Download(fi.Name))
</p>


@switch (Model.MimeType) {

	case MimeType.Text.Plain:
		using (var sr = fi.OpenText()) {
			bool asciiArt = Model.Metadata.ContainsValue(OutputMetadataKeyHelper.OutputIsAsciiArt, true);
			int readChars = 1000;
			if (asciiArt) {
				readChars *= 4;
			}
			var buff = new char[readChars + 1];
			int readed = sr.ReadBlock(buff, 0, buff.Length);
			string strOut = new string(buff, 0, Math.Min(readed, readChars));

			if (readed > readChars) {
				<p class="outputTruncated">(showing first @readChars characters)</p>
			}

			<pre class="box @(asciiArt ? "asciiArt" : "")">@strOut</pre>
		}
		break;

	case MimeType.Image.SvgXml:
		if (fi.Length > 1024 * 512) {
			<p class="outputTruncated">SVG image is not shown directly (it is greater than 0.5 MB). Please download the file to see the result.</p>
		}
		else {
			int width = Model.Metadata.TryGetValue(OutputMetadataKeyHelper.OutputWidth, -1);
			int height = Model.Metadata.TryGetValue(OutputMetadataKeyHelper.OutputHeight, -1);
			bool hasValidSize = width > 0 && height > 0;
			<div class="scrollBox">
				<img src="@Url.Action(MVC.ProcessOutput.Show(fi.Name))" @if(hasValidSize) { <text>width="@(width)px" height="@(height)px"</text> } alt="Process result" />
			</div>
		}
		break;

	case MimeType.Application.Javascript:
		<div class="threeJsScene" data-scene="@Url.Action(MVC.ProcessOutput.Download(fi.Name))" data-clear-color="FFFFFF" data-stats-display="true" data-anti-alias="true">
			<p class="webgl">WebGL is not supported by your browser. Please @Html.Link("get supported browser", "http://get.webgl.org/", "get supported browser"). @Html.ActionLink("Why?", MVC.Home.WhyWebgl())</p>
			<p class="controls">Controls: Move mouse &amp; press LEFT/A: rotate, MIDDLE/S: zoom, RIGHT/D: pan</p>
			<p class="cameraPosition"></p>
			<p class="cameraUp"></p>
			<p class="cameraTarget"></p>
		</div>
		break;

	case MimeType.Application.Zip:
		if (Model.Metadata.ContainsValue(OutputMetadataKeyHelper.PackedOutputs, true)) {
			<p class="outputTruncated">Too many outputs to display. All outputs were packed. Please download the package to see the results.</p>
		}
		else {
			<p class="outputTruncated">Please download the file to see the result.</p>
		}
		break;

	default:
		<p class="outputTruncated">Unknown output type. Please download the file to see the result.</p>
		break;
}

