@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model Malsys.Web.Areas.Documentation.Models.PredefinedConstantsModel

@{
	ViewBag.Title = "Predefined constants";
}

<h2>Predefined constants</h2>

<p>
	In Malsys are two types of predefined constants.
</p>


@* ================================================================================================================== *@
<h3>Built-in compiler constants</h3>

<p>
	Following constants are recognized by the compiler though it is not possible to change their value.
	Their names are case-sensitive.
</p>

<table>
	<tr><th style="width: 128px;">Name</th><th style="width: 192px;">Value</th><th></th></tr>
@foreach (var constGroup in Model.CompilerConstants.GroupBy(x => x.GroupDoc)) {

	<tr class="th"><th colspan="3">@(string.IsNullOrEmpty(constGroup.Key) ? "Other" : constGroup.Key)</th></tr>
	foreach (var valGroup in constGroup.GroupBy(x => x.Value)) {
		var count = valGroup.Count();
		bool first = true;
		foreach (var c in valGroup) {
		<tr>
			<td class="monospace center">@c.Name</td>
			@if (first) {
				first = false;
				<td class="center" rowspan="@count">@c.Value</td>
				<td rowspan="@count">@c.SummaryDoc</td>
			}
		</tr>
		}
	}

}
</table>


@* ================================================================================================================== *@
<h3>Constants from standard library</h3>

<p>
	This group of constants is defined in the same way how user can define global constants.
	They are case-sensitive and they can be redefined (overlaid) by user-defined constants.
</p>

<table class="center">
	<tr><th style="width: 128px;">Name</th><th style="width: 192px;">Value</th></tr>
@foreach (var constKvpGroup in Model.StdLibConstants.GroupBy(x => x.ValueFunc())) {
	var count = constKvpGroup.Count();
	bool first = true;
	foreach (var constant in constKvpGroup) {
	<tr>
		<td class="monospace">@constant.Name</td>
		@if (first) {
			first = false;
			<td rowspan="@count">@constant.ValueFunc()</td>
		}
	</tr>
	}
}
</table>


