@model Malsys.Web.Areas.Documentation.Models.PredefinedConstantsModel

@{
	ViewBag.Title = "Predefined constants";
}

<h1>Predefined constants</h1>

<div class="grid-100 mobile-grid-100 grid-parent hideLinks">
	<div class="grid-50 mobile-grid-100 ">
		<p>
			In Malsys there are two types of predefined constants.
		</p>
	</div>
</div>


<div class="grid-100 mobile-grid-100 grid-parent hideLinks">
	<div class="grid-50 mobile-grid-100 ">

<h2>Built-in compiler constants</h2>

<p>
	Following constants are recognized by the compiler though it is not possible to change their value.
	Their names are case-sensitive.
</p>

<table class="borderTable">
	<tr><th style="width: 128px;">Name</th><th style="width: 192px;">Value</th><th></th></tr>
@foreach (var constGroup in Model.CompilerConstants.GroupBy(x => x.GroupDoc)) {

	<tr class="th"><th colspan="3">@(string.IsNullOrEmpty(constGroup.Key) ? "Other" : constGroup.Key)</th></tr>
	foreach (var valGroup in constGroup.GroupBy(x => x.Value)) {
		var count = valGroup.Count();
		bool first = true;
		foreach (var c in valGroup) {
		<tr>
			<td class="monospace">@c.Name</td>
			@if (first) {
				first = false;
				<td class="center" rowspan="@count">@c.Value</td>
				<td rowspan="@count">@c.SummaryDoc</td>
			}
		</tr>
		}
	}

}
</table>


	</div>
	<div class="grid-50 mobile-grid-100 ">


<h2>Constants from standard library</h2>

<p>
	This group of constants is defined in the same way how user can define global constants.
	They are case-sensitive and they can be redefined (overlaid) by user-defined constants.
</p>

<table class="borderTable">
	<tr><th style="width: 128px;">Name</th><th style="width: 192px;">Value</th></tr>
@foreach (var constKvpGroup in Model.StdLibConstants.GroupBy(x => x.ValueFunc())) {
	var count = constKvpGroup.Count();
	bool first = true;
	foreach (var constant in constKvpGroup) {
	<tr>
		<td class="monospace">@constant.Name</td>
		@if (first) {
			first = false;
			<td rowspan="@count">@constant.ValueFunc()</td>
		}
	</tr>
	}
}
</table>
	</div>
</div>


