@model FeedbackModel

@{
	ViewBag.Title = "Send a feedback";
	StaticHtml.RequireScript(Links.Js.jquery_validate_js);
	StaticHtml.RequireScript(Links.Js.jquery_validate_unobtrusive_js);
}

@if (Request.IsAuthenticated && User.IsInRole(UserRoles.ViewFeedbacks)) {
	@Html.ActionLink("List of sent feedbacks", MVC.Feedback.List())
}

<h1>Send a feedback</h1>

<div class="grid-100 mobile-grid-100 grid-parent hideLinks">
	<div class="grid-50 mobile-grid-100 ">
<p>
	Please let me know what do you think about Malsys.
	I appreciate all comments, suggestions, complaints, bug reports...
</p>

<p>
	If you want to contact me (the author) directly, e-mail can be found on @Html.ActionLink("this page", MVC.Feedback.EmailToAuthor()).
	Both positive and negative feedback is welcome and it motivates me to improve Malsys.
</p>

<p>Thank you, Marek.</p>


<h2>Feedback via comments</h2>
	<p>Cou can also use this comments section to leave public feedback.</p>
@{
	string title = "Feedback";
	string disqusId = "Feedback";  // DO NOT CHANGE!
	string url = Url.ActionAbsolute(MVC.Feedback.Index());
	@StaticHtml.DisqusComments(title, disqusId, url)
}


	</div>
	<div class="grid-50 mobile-grid-100">
@using (Html.BeginForm()) {

	<fieldset>
		<legend>Feedback submission</legend>

		@Html.ValidationSummary(true)

		@Html.EditorForModel()
		<br />

		@Model.Captcha.Html()

		<p>
			@Html.SubmitButton("Send")
		</p>

	</fieldset>
}
	</div>
</div>

