@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model InputDetail

@using Malsys.Processing;
@using Malsys.Web.Models.Lsystem;

@{
	ViewBag.Title = Model.Input.PublishName;
	Layout = MVC.Shared.Views._FullScreenLayout;
	var fi = new FileInfo(Model.FilePath);
	if (!fi.Exists) {
		<p>File no found!</p>
		return;
	}
}

@switch (Model.Input.MimeType) {

	case MimeType.Application.Javascript:
		<div class="threeJsScene" data-scene="@Url.Action(MVC.Gallery.GetOutput(Model.Input.UrlId, Model.Input.EditDate.Hash()))" data-clear-color="FFFFFF" data-anti-alias="true">
			<p class="webgl">WebGL is not supported by your browser. Please @Html.Link("get supported browser", "http://get.webgl.org/", "get supported browser"). @Html.ActionLink("Why?", MVC.Home.WhyWebgl())</p>
			<p class="controls">Controls: Move mouse &amp; press LEFT/A: rotate, MIDDLE/S: zoom, RIGHT/D: pan</p>
		</div>
		<text>
		@section scripts {
			@Content.Js(Links.Js.ThreeJs.Three_js)
			@Content.Js(Links.Js.ThreeJs.Detector_js)
			@Content.Js(Links.Js.ThreeJs.Stats_js)
			@Content.Js(Links.Js.ThreeJs.malsys_three_js)
		}
		</text>
	break;

	default:
		<p class="outputTruncated">Only Three.js scene can be displayed in full screen</p>
		break;
}