@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model GalleryModel

@using Malsys.Processing;
@using Malsys.Web.Models.Lsystem;

@{
	ViewBag.Title = "Gallery of L-systems";
	var serializer = new System.Runtime.Serialization.Formatters.Binary.BinaryFormatter();

	int thnMaxWidth = 400;
	int thnMaxHeight = 300;
	HtmlString pager = Html.CleverPager(Model.Inputs, i => Url.Action(MVC.Gallery.Index(
		string.IsNullOrWhiteSpace(Model.UserFilter) ? null : Model.UserFilter.Trim(),
		Model.TagFilter == null ? null : Model.TagFilter.Name,
		i)));
	var outputHtmlGenerator = new OutputHtmlGenerator();
}
<div class="grid-100 mobile-grid-100 grid-parent">
	<div class="grid-100 mobile-grid-100 ">
		<h1>Gallery of L-systems</h1>

		<div class="clearfix hideLinks">
		@pager
		</div>

		@if (!string.IsNullOrWhiteSpace(Model.UserFilter)) {
			<p>Filtered by user @Model.UserFilter</p>
		}

		@if (Model.TagFilter != null) {
			<p>Filtered by tag @Html.Tag(Model.TagFilter.Name) @if (!string.IsNullOrWhiteSpace(Model.TagFilter.Description)) { <text>— @Model.TagFilter.Description</text> }</p>
		}

		<div class="gallery">
			<ul>
		@foreach (var input in Model.Inputs) {
			int width = thnMaxWidth;
			int height = thnMaxHeight;
	  var outHtml = outputHtmlGenerator.GetOutputHtml(Url, input, ref width, ref height, fillHeight: true);
			HtmlString linkStrBegin = new HtmlString("<a href=\"{0}\" title=\"{1}\">".Fmt(
				Url.Action(MVC.Gallery.Detail(input.UrlId)),
				input.PublishName));
			HtmlString linkStrEnd = new HtmlString("</a>");
			<li>
				<div class="thnWrap hideLinks">
					@linkStrBegin@outHtml@linkStrEnd
					<div class="caption" style="width:@(width)px">@linkStrBegin<h4>@input.PublishName</h4>@linkStrEnd</div>
					<div class="misc clearfix" style="width:@(width)px;">
						@foreach (Tag tag in input.Tags) {
							@Html.Tag(tag.Name)
						}
						<span class="author">by @Html.ActionLink(input.User.Name, MVC.Gallery.Index(input.User.Name))</span>
					</div>
				</div>
			</li>

		}
			</ul>
		</div>

		<div class="clearfix hideLinks">
		@pager
		</div>
	</div>
</div>
