@model GalleryModel

@using Malsys.Processing;
@using Malsys.Web.Models.Lsystem;

@{
	ViewBag.Title = "Gallery of L-systems";
	var serializer = new System.Runtime.Serialization.Formatters.Binary.BinaryFormatter();

	int thnMaxWidth = 512;
	int thnMaxHeight = 256;
	bool loadThreeJs = false;
}

<div class="right">@Html.ActionLink("list of tags", MVC.Gallery.Tags())</div>
<h2>Gallery of L-systems</h2>

<div class="clearfix">
@Html.Pager(Model.Inputs)
</div>

@if (!string.IsNullOrWhiteSpace(Model.UserFilter)) {
	<p>Filtered by user @Model.UserFilter</p>
}

@if (Model.TagFilter != null) {
	<p>Filtered by tag @Html.Tag(Model.TagFilter.Name) @if (!string.IsNullOrWhiteSpace(Model.TagFilter.Description)) { <text>— @Model.TagFilter.Description</text> }</p>
}

<div class="gallery clearfix">
@foreach (var input in Model.Inputs) {
	var thnModel = new GalleryThumbnailModel() {
		SavedInput = input,
		MaxWidth = thnMaxWidth,
		MaxHeight = thnMaxHeight
	};
	@Html.Partial(MVC.Shared.Views.GalleryThumbnailPartial, thnModel);
	loadThreeJs |= thnModel.NeedsThreeJs;
}
</div>

@if (loadThreeJs) {
	<text>
	@section scripts {
		@Content.Js(Links.Js.ThreeJs.Three_js)
		@Content.Js(Links.Js.ThreeJs.Detector_js)
		@Content.Js(Links.Js.ThreeJs.Stats_js)
		@Content.Js(Links.Js.ThreeJs.malsys_three_js)
	}
	</text>
}
