@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model Malsys.Web.Models.ChangePasswordModel

@{
	ViewBag.Title = "Change Password";
}

@section scripts {
	@Content.Js(Links.Js.jquery_validate_js)
	@Content.Js(Links.Js.jquery_validate_unobtrusive_js)
}

<h2>Change Password</h2>
<p>
	Use the form below to change your password.
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
	<div>
		<fieldset>
			<legend>Account Information</legend>

			@Html.EditorForModel()

			<p>
				@Html.SubmitButton("Change Password")
			</p>
		</fieldset>
	</div>
}
