@model Malsys.Web.Models.ProcessLsystemResultModel

@{
	ViewBag.Title = "Malsys L-system processor";
}
<h2>L-system processor</h2>

<div class="floating_container clearfix">

<div class="floating_box">
@using (Html.BeginForm()) {
	<fieldset class="malsys_source">
		<legend>Source code</legend>

		@Html.TextAreaFor(m => m.SourceCode, 20, 40, null)

		<p>
			<input type="submit" value="Evaluate" />
			<input type="submit" value="Compile" />
		</p>
	</fieldset>
}
</div>

@if (Model.Messages != null) {
<div class="floating_box">
	<h3>Messages:</h3>
	<table class="w100">
	<tr>
		<th></th>
		<th>Message</th>
		<th>Position</th>
	</tr>
	@foreach (var msg in Model.Messages) {
	 <tr class="@msg.Type.ToString().ToLower()">
		<td><abbr title="@msg.Type (@msg.Id)">@msg.Type.ToString()[0]</abbr></td>
		<td>@msg.MessageStr</td>
		<td>@(msg.Position.IsUnknown ? "" : msg.Position.ToString())</td>
	 </tr>
	}
	</table>
</div>
}

@if (Model.OutputFiles != null) {
	foreach (var result in Model.OutputFiles) {
		<div class="floating_box">
		@Html.Partial("OutputPartial", result)
		</div>
	}
}

</div>