@{
    ViewBag.Title = "Examples";
}


<h2>Examples</h2>


<ul>
    <li>@Html.ActionLink("FASS curves", MVC.Examples.FassCurves())</li>
    <li>@Html.ActionLink("From The Algorithmic Beauty of Plants", MVC.Examples.Abop())</li>
    <li>@Html.ActionLink("Tilings", MVC.Examples.Tilings())</li>
    <li>@Html.ActionLink("Ascii art", MVC.Examples.Ascii())</li>
    <li>@Html.ActionLink("Other", MVC.Examples.Other())</li>
    <li>@Html.ActionLink("3D L-systems", MVC.Examples.ThreeD())</li>
</ul>


