@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@{
	ViewBag.Title = "Malsys help index";
}

<h2>Frequently asked questions</h2>

<p>If you have any questions try look at @Html.ActionLink("FAQ page", MVC.Help.Home.Faq()).</p>


<h2>Malsys help index</h2>

<ol>
	<li>@Html.ActionLink("Basic principles of L-system rewriting", MVC.Help.Home.BasicRewriting())</li>
	<li>@Html.ActionLink("L-system symbols with arguments", MVC.Help.Home.LsystemSymbols())</li>
	<li>@Html.ActionLink("Interpret symbols to get image", MVC.Help.Home.BasicInterpretation())</li>
	<li>@Html.ActionLink("Process configurations", MVC.Help.Home.ProcessConfigurations())</li>
	<li>@Html.ActionLink("Malsys standard library", MVC.Help.Home.StdLib())</li>
</ol>


<h3>Predefined stuff</h3>

<ol class="uRoman">
	<li>@Html.ActionLink("Available components list", MVC.Help.Predefined.Components())</li>
	<li>@Html.ActionLink("Predefined process configurations", MVC.Help.Predefined.Configurations())</li>
	<li>@Html.ActionLink("Predefined constants", MVC.Help.Predefined.Constants())</li>
	<li>@Html.ActionLink("Predefined functions", MVC.Help.Predefined.Functions())</li>
	<li>@Html.ActionLink("Predefined operators", MVC.Help.Predefined.Operators())</li>
</ol>


<h3>Syntax reference</h3>

<ol class="uAlpha">
	<li>@Html.ActionLink("L-system definition", MVC.Help.SyntaxReference.LsystemDefinition())</li>
	<li>@Html.ActionLink("Component property assign definition", MVC.Help.SyntaxReference.ComponentPropertyAssignDefinition())</li>
	<li>@Html.ActionLink("Constant definition", MVC.Help.SyntaxReference.ConstantDefinition())</li>
	<li>@Html.ActionLink("Function definition", MVC.Help.SyntaxReference.FunctionDefinition())</li>
	<li>@Html.ActionLink("Rewrite rule definition", MVC.Help.SyntaxReference.RewriteRule())</li>
	<li>@Html.ActionLink("Symbol interpretation definition", MVC.Help.SyntaxReference.SymbolInterpretation())</li>
	<li>@Html.ActionLink("Component configuration definition", MVC.Help.SyntaxReference.ComponentConfigurationDefinition())</li>
	<li>@Html.ActionLink("Process statements", MVC.Help.SyntaxReference.ProcessStatements())</li>
	<li>@Html.ActionLink("Arithmetic expressions", MVC.Help.SyntaxReference.ArithmeticExpressions())</li>
</ol>

<ol class="uRoman">
	<li>@Html.ActionLink("Tokens definition", MVC.Help.SyntaxReference.Tokens())</li>
	<li>@Html.ActionLink("Grammar syntax reference", MVC.Help.SyntaxReference.Grammar())</li>
	<li>@Html.ActionLink("Regular expressions reference", MVC.Help.SyntaxReference.GrammarRegexps())</li>
</ol>