@{
	ViewBag.Title = "Malsys help index";
}

<h2>Malsys help index</h2>

<ol>
	<li>@Html.ActionLink("Basic principles of L-system rewriting", MVC.Help.Home.BasicRewriting())</li>
	<li>Symbols parameters</li>
	<li>@Html.ActionLink("Interpret symbols to render image", MVC.Help.Home.BasicInterpretation())</li>
	<li>Process configurations</li>
</ol>


<h3>Predefined stuff</h3>

<ol class="uRoman">
	<li>@Html.ActionLink("Available components list", MVC.Help.Predefined.Components())</li>
	<li>Predefined process configurations</li>
	<li>@Html.ActionLink("Predefined constants", MVC.Help.Predefined.Constants())</li>
	<li>@Html.ActionLink("Predefined functions", MVC.Help.Predefined.Functions())</li>
	<li>Predefined operators</li>
</ol>


<h3>Syntax reference</h3>

<ol class="uAlpha">
	<li>L-system definition</li>
	<li>@Html.ActionLink("Constant definition", MVC.Help.SyntaxReference.Constant())</li>
	<li>@Html.ActionLink("Rewrite rule definition", MVC.Help.SyntaxReference.RewriteRule())</li>
	<li>@Html.ActionLink("Symbol interpretation definition", MVC.Help.SyntaxReference.SymbolInterpretation())</li>
	<li>Arithmetic expressions</li>
</ol>

<ol class="uRoman">
	<li>@Html.ActionLink("Tokens definition", MVC.Help.SyntaxReference.Tokens())</li>
	<li>@Html.ActionLink("Grammar syntax reference", MVC.Help.SyntaxReference.Grammar())</li>
	<li>@Html.ActionLink("Regular expressions reference", MVC.Help.SyntaxReference.GrammarRegexps())</li>
</ol>