@model Tuple<int, bool, IList<InputProcessesHistoryItem>>

@{
	ViewBag.Title = "Input processes history";
}

@section scripts {
	@Content.Js("GrammarHighlighter.js", Url)
}

<h2>Input processes history</h2>

<p>
@if (Model.Item2) {
	@Html.ActionLink("Registered", "Index", new { page = 0, anonymous = false })
}
else {
	@Html.ActionLink("Anonymous", "Index", new { page = 0, anonymous = true })
}
 |
@if (Model.Item1 > 0) {
	@Html.ActionLink("Next", "Index", new { page = Model.Item1 - 1, anonymous = Model.Item2 })
}
else {
	@:Next
}
 |
@if (Model.Item3.Count > 0) {
	@Html.ActionLink("Previous", "Index", new { page = Model.Item1 + 1, anonymous = Model.Item2 })
}
else {
	@:Previous
}
</p>

<table class="w100">
	<tr>
		<th>Id</th>
		<th>User</th>
		<th>Process date</th>
		<th>Source ID</th>
		<th>Source</th>
	</tr>

@foreach (var ip in Model.Item3) {
	<tr>
		<td>@Html.DisplayFor(m => ip.ProcessId)</td>
		<td>@Html.DisplayFor(m => ip.User)</td>
		<td>@Html.DisplayFor(m => ip.Date)</td>
		<td>@Html.DisplayFor(m => ip.SourceId)</td>
		<td><pre class="malsys">@Html.DisplayFor(m => ip.Source)</pre></td>
	</tr>
}

</table>
