@model Malsys.Web.Models.NewRoleModel

@{
	ViewBag.Title = "Create role";
}

@section scripts {
	@Content.Js(Links.Js.jquery_validate_js)
	@Content.Js(Links.Js.jquery_validate_unobtrusive_js)
}

<h2>Create role</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	@Html.EditorForModel()

	<p>@Html.SubmitButton("Create")</p>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
