@model RoleDetailModel

@{
	ViewBag.Title = "Edit role";
}

@section scripts {
	@Content.Script("jquery.validate.min.js", Url)
	@Content.Script("jquery.validate.unobtrusive.min.js", Url)
}

<h2>Edit role</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>Role @Model.Name [@Model.RoleId]</legend>

		@Html.HiddenFor(model => model.RoleId)

		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<p>
			<input type="submit" value="Save" />
		</p>
	</fieldset>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
