@model DiscusMessage

@{
	bool modControls = User.IsInRole(UserRoles.DiscusModerator);
}


<div class="discusMsg clearfix">
	<div class="author">
		<p class="name">
			by
			@if (Model.User != null) {
				<b>@Model.User.Name</b>
			}
			else {
				<b>@Model.AuthorNameNonRegistered</b> <span class="note">(not registered)</span>
			}
		</p>
		<p class="date">on @Model.CreationDate.ToString("d. MMMM yyyy, HH:mm")</p>
		@if (Model.UpdateDate != Model.CreationDate) {
			<p class="date">updated @Model.CreationDate.ToString("d. MMMM yyyy, HH:mm")</p>
		}
		@if (modControls) {
			<p class="note">
				[@(Html.ActionLink("Delete", MVC.Discussion.DeleteMessage(Model.MessageId, Request.RawUrl.ToString())))]
			</p>
		}
	</div>
	<div class="message keepNl">
		<p>@Model.Text</p> @* Keep on one line to not add whitespace (CSS style white-space: pre-line) *@
	</div>
</div>