@model Malsys.Web.Models.SimpleLsystemProcessor


@{
	ViewBag.Title = "Symbol interpretation definition";

	var exampleModel = new LsystemExampleViewModel() {
		LsystemProcessor = Model,
		SourceCodeTemplate = string.Join(Environment.NewLine,
			"lsystem InterpretationExample{0:00} {{",
			"{1}",
			"process with InterpretationDebugger;",
			"}}"),
		UnimportantLines = new int[] { 1, -1, -2 }

	};
	int exampleId = 1;
}

<h2>Symbol interpretation definition</h2>

<p>
	Defines interpretation action to set of symbols.
</p>


@* ================================================================================================================== *@
<h3>Formal grammar</h3>

<pre class="grammar box">
symbols_interpretation_def = 'interpret' SYMBOL+ symbol_params? 'as' ID action_params? ';'

symbol_params = '(' params_list? ')'
params_list = ID ('=' expression)?  (',' params_list)?

action_params = '(' params_expr_list? ')'
params_expr_list = expression  (',' params_expr_list)?
</pre>


@* ================================================================================================================== *@
<h3>Examples</h3>

<p>
	Note: In following examples <code>InterpretationDebugger</code> render configuration is used to show actual calls on renderer.
</p>

<h4>Basic interpretation definition</h4>

<p>
	Arguments from symbols are forwarded to interpreter actions.
	Symbol with no defined interpretation is ignored.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
		"set axiom = F(2.5) + F(5, 0) G H;",
		"interpret F as DrawLine;"
	)))

<hr />

<p>
	More than one symbol can be specified for one action.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
		"set axiom = B A A C;",
		"interpret A B C as DrawLine;"
	)))


@* ================================================================================================================== *@
<h4>Interpretation action default parameters</h4>

<p>
	Arguments that are not supplied by symbol are taken from action's defaults.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
		"set axiom = F  F(5)  F(5, 6, 7);",
		"interpret F as DrawLine(0, 1 + 1);"
	)))


@* ================================================================================================================== *@
<h4>Custom action invoking</h4>

<p>
	Arguments from symbols are matched on local variables.
	Unmapped symbol's arguments are ignored.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
			"set axiom = F(1, 2)  F(2, 2, 2);",
		"interpret F(a, b) as DrawLine(a + b);"
	)))

<hr />

<p>
	Not enough custom arguments supplied by symbol to map all parameters causes an error.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
		"set axiom = F  F(5);",
		"interpret F(a, b) as DrawLine(a + b);"
	)))

<hr />

<p>
	When custom parameters are specified, no automatic argument forwarding is done.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
		"set axiom = F(5)  F(2,4);",
		"interpret F(a) as DrawLine(0);"
	)))

<hr />

<p>
	More symbols can be specified, custom parameters are after last.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
		"set axiom = A(1)  B(2)  C(3)  B(4);",
		"interpret A B C (a) as DrawLine(a * a);"
	)))

@* ================================================================================================================== *@
<h4>Default values of custom parameters</h4>

<p>
	Default values of custom parameters can be also specified.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
		"set axiom = F  F(2)  F(2,4);",
		"interpret F(a = 5) as DrawLine(a);"
	)))

<hr />

<p>
	All parameters with default values have to be after parameters without default value.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
				"set axiom = F(1, 2)  F(1, 2, 3);",
		"interpret F(a, b, c = 5) as DrawLine(a, b, c);"
	)))

<hr />

<p>
	More symbols can be specified, custom parameters are after last.
</p>

@Html.Partial(MVC.Help.SyntaxReference.Views.LsystemExamplePartial, exampleModel.WithArgs(exampleId++, string.Join(Environment.NewLine,
				"set axiom = A(2)  C(8, 8, 8)  B(2, 2);",
		"interpret A B C (a, b = 5) as DrawLine(a, b);"
	)))
