@model User

@{
	ViewBag.Title = "Details of user " + Model.Name;
}

<h2>Details of user @Model.Name [@Model.UserId]</h2>

@Html.ValidationSummary(true)

<div class="display-label">E-mail</div>
<div class="display-field">
	@Html.DisplayFor(m => m.Email)
</div>

<div class="display-label">Registered</div>
<div class="display-field">
	@Html.DisplayFor(m => m.RegistrationDate)
</div>

<div class="display-label">Last login</div>
<div class="display-field">
	@Html.DisplayFor(m => m.LastLoginDate)
</div>

<div class="display-label">Last activity</div>
<div class="display-field">
	@Html.DisplayFor(m => m.LastActivityDate)
</div>

<div class="display-label">Last password change</div>
<div class="display-field">
	@Html.DisplayFor(m => m.LastPwdChangeDate)
</div>

<div class="display-label">Roles</div>
<div class="display-field">
	<ul>
		@foreach (Role role in Model.Roles) {
			<li>@role.Name [@role.RoleId]</li>
		}
	</ul>
	@Html.ActionLink("Manage roles", MVC.Administration.Users.Roles(Model.UserId))
</div>

<p>
	@Html.ActionLink("Edit", MVC.Administration.Users.Edit(Model.UserId)) |
	@Html.ActionLink("Back to List",  MVC.Administration.Users.Index())
</p>
