@**
 * Copyright © 2012 Marek Fišer [malsys@marekfiser.cz]
 * All rights reserved.
 *@
@model UserDetailModel

@{
	ViewBag.Title = "Edit user " + Model.Name;
	StaticHtml.RequireScript(Links.Js.jquery_validate_js);
	StaticHtml.RequireScript(Links.Js.jquery_validate_unobtrusive_js);
}


<h2>Edit @Model.Name [@Model.UserId]</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	@Html.EditorForModel();
	<p>@Html.SubmitButton("Save")</p>
}

<div>
	@Html.ActionLink("Back to List", MVC.Administration.Users.Index())
</div>
